@import 'typography';
.section {
  .img-container {
    width: 100%;
  }
  img {
    width: 100%;
    align-items: center;
    opacity: 0.8 black;
  }
  h1 {
    @include title;
    margin-bottom: 0.5rem;
  }
  p {
    @include paragraph;
    margin: 0.5rem;
  }
  

    a {
      color: $white;
    }
    .arrow-1 {
      margin-right: 0.5rem;
      transform: rotate(-95deg);
      transition: all 1s;
    }
    .arrow-2 {
      margin-left: 0.5rem;
      transform: rotate(95deg);
      transition: all 1s;
    }
    &:hover {
      a {
        color: $black;
      }
      .arrow-1 {
        transform: rotate(0deg);
      }
      .arrow-2 {
        transform: rotate(0deg);
      }
    }
  }

//------------------meet the team---------------------

.team {
  width: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  overflow: hidden;
  visibility: hidden;
  display: none;

  h2 {
    @include title;
    margin-bottom: 1rem;
  }
}
.cards-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .card {
    width: 80%;
    height: 25rem;
    margin-top: 1rem;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    position: relative;
    transition: all 3s;

    &-img-wrapper {
      height: 100%;
      width: 100%;
      background-color: $grey;
      border-radius: 0.5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        opacity: 0.8;
        border-radius: 0.5rem;
        transition: opacity 0.3s;
      }
    }
    &-info {
      position: absolute;
      bottom: 0;
      padding: 2rem;
      text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;

      h2 {
        @include title;
        font-size: 1rem;
        border: none;
        max-width: 80%;
        margin-top: 5rem;
      }

      h3 {
        @include subtitle;
        margin-bottom: 1rem;
      }
      p {
        @include paragraph;
        color: $black;
        font-weight: 400;
        width: 80%;
        margin-bottom: 1rem;
      }
  
    }
    &:hover img {
      opacity: 0.5;
    }
    &:hover .card-info {
      bottom: 2rem;
      opacity: 1;
      visibility: visible;
    }
  }
  button{
    width: 10rem;
  }
}
.add-team {
  .team {
    visibility: visible;
    display: flex;
  }
}
.arrow-up {
  margin-top: 1rem;
  display: block;

  i {
    font-size: 4rem;
    color: $black;
    text-shadow: 2px 2px $yellow;
    transition: color 0.5s;
    &:hover {
      color: $yellow;
    }
  }
}

@media screen and (min-width: 725px) {
  .cards-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;

    .card-info {
      h2 {
        @include title;
      }
    }
  }
}
@media screen and (min-width: 1005px) {
  .cards-wrapper {
    grid-template-columns: auto auto auto;
    
  }
}
