@import 'colors';

$primary-font: 'Special Elite', cursive;
$secondary-font: 'Mulish', sans-serif;

@mixin title {
  font-family: $primary-font;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-shadow: 0.2rem 0.2rem 0.2rem $grey;
  text-transform: uppercase;
  color: $black;
}
@mixin subtitle {
  font-family: $secondary-font;
  font-size: 1.2rem;
  color: $white;
  text-shadow: 0.1rem 0.1rem 0.1rem $grey;
  font-weight: 500;
}
@mixin paragraph {
  font-family: $secondary-font;
  font-weight: 300;
  color: $grey;
  letter-spacing: 0.05rem;
}
button {
  font-family: $secondary-font;
background-color: rgba(0,0,0,0.1);
  border: 1px solid $black;
  color: black;
  display: block;
  padding: 0.3rem;
  width: 15rem;

  margin: 0.5rem auto;

  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  &:hover
{
    background-color: $yellow;
    color: $black;
  }
}
h3 {
  @include title;
  margin: 0.5rem;
}
a {
  text-decoration: none;
  color: $black;
}
